.Modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal__content {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  width: 460px;
  background-color: #f9f2e0;
  padding: 20px;
  box-shadow: none;
  transition: box-shadow 400ms ease-in-out;
}

.Modal__content__increase {
  box-shadow: inset 10px 15px 12px #88ff00b9, inset -10px -15px 12px #88ff00b9;
  transition: box-shadow 400ms ease-in-out;
}

.Modal__content__decrease {
  box-shadow: inset 10px 15px 12px #ff222287, inset -10px -15px 12px #ff222287;
  transition: box-shadow 400ms ease-in-out;
}

.Modal__title {
  margin: 0 0 10px 0;
  text-align: center;
}

.Modal__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.Modal__container__item {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.Modal__box {
  width: 100px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

.Modal__box__time {
  padding: 4px;
}

.Modal__text {
  font-size: 12px;
}

.Modal__elem_minSize {
  font-size: 12px;
}
