.tickers__container {
  width: 480px;
  margin: 0 auto;
}

.tickers__nothingFound {
  text-align: center;
  color: red;
}

@media screen and (max-width: 500px) {
  .tickers__container {
    width: calc(100% - 10px);
  }
}
