.ChangeIntervalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 460px;
  margin: 15px auto;
  padding: 15px;
  background-color: rgba(169, 175, 255, 0.6);
}

.ChangeIntervalForm__text {
  text-align: center;
  color: #212121;
}

.input__container {
  width: 40%;
  margin: 15px 0;
}

@media screen and (max-width: 500px) {
  .ChangeIntervalForm {
    width: calc(100% - 10px);
  }
}
