.tickerItem__container {
  position: relative;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  color: #565656;
  transition: box-shadow 400ms ease-in-out;
}

.tickerItem__increase {
  box-shadow: inset 6px 6px 5px #88ff00b9, inset -6px -6px 5px #88ff00b9;
  transition: box-shadow 400ms ease-in-out;
}

.tickerItem__decrease {
  box-shadow: inset 6px 6px 5px #ff222287, inset -6px -6px 5px #ff222287;
  transition: box-shadow 400ms ease-in-out;
}

.tickerItem__name {
  width: 25%;
  font-size: 16px;
  font-weight: 600;
}

.tickerItem__elem {
  width: 20%;
  text-align: center;
}

.tickerItem__elem__text {
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 480px) {
  .tickerItem__container {
    margin: 10px 0;
    padding: 10px;
  }

  .tickerItem__name {
    font-size: 14px;
  }

  .tickerItem__elem__text {
    font-size: 12px;
  }
}
